<!-- Alert -->
<div class="alertError" *ngIf="!!errorMessage">
    <span>{{ errorMessage }}</span>
</div>


<form (ngSubmit)="onSubmitForm($event)" [formGroup]="form">
    
    <div>
        <h1>Sign Up</h1>
    </div>

    <div>
        <div class="imageProfile" (click)="fileImage.click()" [class.validator__images]="form.get('imageFile').invalid">
            <img [src]="showImageProfile" alt="">
            <input type="file" #fileImage [hidden]="true" (change)="selectImage($event)">
            
        </div>
    </div>

    <div>
        <div class="form-group">
            <input type="text" required="required" formControlName="username">
            <span>Username</span>
        </div>
        <!-- validator email -->
    <div
        class="validator__box"
        *ngIf="form.get('username').touched && form.get('username').invalid"
        >
        <li *ngIf="form.get('username').errors.required">
            - Username is required
          </li>
          <li *ngIf="form.get('username').errors.minlength">
            - Username must be a letters 5 charector
          </li>
    </div>
    </div>
    
    <div>
        <div>
            <div class="form-group">
              <input type="text" required="required" formControlName="email" />
              <span>Email Address</span>
            </div>
            <!-- validator email -->
            <div
              class="validator__box"
              *ngIf="form.get('email').touched && form.get('email').invalid"
            >
              <li *ngIf="form.get('email').errors.required">
                - Email Name is required.
              </li>
              <li *ngIf="form.get('email').errors.email">
                - Email must be a valid Email Address.
              </li>
            </div>
          </div>
    </div>

    <!-- validator password -->
  <div>
    <div class="form-group">
      <input type="password" required="required" formControlName="password" />
      <span>Password</span>
    </div>
    <div
      class="validator__box"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <li *ngIf="form.get('password').errors.required">
        - password is required
      </li>
      <li *ngIf="form.get('password').errors.minlength">
        - password must be a letters 6 charector
      </li>
    </div>
  </div>


  <div class="form-group">
    <button
      class="btn"
      type="submit"
      [class.btnValid]="form.valid"
      [disabled]="form.invalid"
    >
      Sign In
    </button>
  </div>
</form>