<div class="menu__item menu__item__logo">
    <a [routerLink]="['/']"> <i class="fab fa-accusoft"></i> </a>
</div>

<div class="menubar__icon" (click)="toggleMenubar = !toggleMenubar">
  <div class="menubar__icon__line"></div>
  <div class="menubar__icon__line"></div>
  <div class="menubar__icon__line"></div>
</div>

<div class="menu__list" [ngClass]="{'toggleMenuAuto': toggleMenubar}">
  <div class="menu__item__middle">
    <ul>
      <li>
        <a [routerLink]="['/']"> <i class="fas fa-home"></i> <span>Home</span> </a>
      </li>
      <li>
        <a [routerLink]="['/shop']"> 
          <i class="fas fa-store"></i> 
          <span>Shop</span>
        </a>
      </li>

      <li *ngIf="isLoggedIn">
        <a href="#" (click)="onClickManager($event)"> 
          <i class="fas fa-user-cog"></i> 
          <span class="main__submenu">Manager Account </span>
          <i class="fa fa-caret-down" [style.transform]="toggleSubmenu? 'rotate(90deg)':'rotate(0deg)'"></i>
        </a>

        <ul class="sub__menu" [class.toggleSubmenu]="toggleSubmenu">
          <li> <a [routerLink]="['/dashboard']"> <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
          <li><a href="#"> <i class="fas fa-user-tie"></i> <span>Accout</span></a></li>
          <li><a href="#"> <i class="fas fa-border-all"></i> <span>Order List</span></a></li>
          
        </ul>
      </li>


    </ul>
  </div>
  
  <div class="menu__item menu__item__right">
    <div class="menu__item__right__auth" *ngIf="!isLoggedIn">
      <a [routerLink]="['/auth/sign-in']">
        <i class="fas fa-sign-in-alt"></i>
      <span>Sign In</span>
      </a>
    </div>

    <div class="menu__item__right__auth" *ngIf="isLoggedIn">
      <a href="#" (click)="onClickSignOut($event)">
        <i class="fas fa-sign-in-alt"></i>
      <span>Sign Out</span>
      </a>
    </div>
  
    <div class="menu__item__right__favorite">
      <a [routerLink]="['/favorite']"><i class="far fa-heart"></i>
        <span>Favorite</span></a>
    </div>
  
    <div class="menu__item__right__cart">
      <a [routerLink]="['/cart']" ><i class="fas fa-shopping-bag"></i>
        <span>Shopping bag(<span style="font-size: 1rem; color: #394AEB; font-weight: bold;">{{ amountProductInCart }}</span>)</span>
      </a>
    </div>
  </div>
</div>